h1 {
  font-family: fantasy;
  text-shadow: 5px 5px red;
}

#text-and-button {
  width: 100%;
  display: inline-block;
  float: left;
  background-color: #68f7a1;
  padding: 10px;
  }

p {
  color: red;
  font-family: fantasy;
  font-size: 12px;
 }

.mystery-button {
  font-family: fantasy;
  color: red;
  background-color: black;
  width: 100px;
}

#cat-pic {
 height: 300px;
 width: 300px;
 display: inline-block;
 background-size: contain;
 background-repeat: no-repeat;
}
